body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/memphis-mini-dark.webp"); 
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

#container
{
	background-color: #292929;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	-webkit-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	-moz-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #c34f4f;
	
	color: #222222;
}

input[type=submit]
{
	width: 300px;
	background-color: #c34f4f;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #e56161;
}

#registration_link
{
	padding: 5px;
	display: inline-block;
	position: relative;
	right: 4px;
}


a
{ 
	color: white;
	text-decoration: none;
	font-size: 15px;
	
}

#reset_password_link
{
	padding: 5px;
	display: inline-block;
	position: relative;
	left: 60px;
}

#login_link
{
	padding: 5px;
	display: inline-block;
	position: relative;
	right: 4px;
}

.nav
{ 
	width: 90%;
	padding: 10px;
	background-color: #c34f4f;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
	text-align: center;
}



ol > li:hover
{
	background-color: #cf6969;
}

ol > li:hover > a
{
	color: #451717;
}

#main_container
{
	background-color: #292929;
	width: 70%;
	height: 500px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	-webkit-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	-moz-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
}

#user_menu
{
	width: 50px;
	height: 40px;
	float: right;
	text-align: center;
	display: inline-block;
	margin-top: 0px;
	
}

/* http://caniuse.com/#search=variables */
:root {
  --avatar-size: 40px
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #8d6e63;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  
}

.initials {
  font-size: calc(var(--avatar-size) / 2);
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4.5); 
 
}

