body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/memphis-mini-dark.webp"); 
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

#container
{
	background-color: #292929;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	-webkit-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	-moz-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
}

.log_box
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.log_box:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #c34f4f;
	
	color: #222222;
}

input[type=submit]
{
	width: 300px;
	background-color: #c34f4f;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #e56161;
}

#registration_link
{
	padding: 5px;
	display: inline-block;
	position: relative;
	right: 4px;
}


a
{ 
	color: white;
	text-decoration: none;
	font-size: 15px;
	
}

#reset_password_link
{
	padding: 5px;
	display: inline-block;
	position: relative;
	left: 60px;
}

#login_link
{
	padding: 5px;
	display: inline-block;
	position: relative;
	right: 4px;
}

.nav
{ 
	width: 90%;
	padding: 10px;
	background-color: #c34f4f;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
	text-align: center;
}



ol > li:hover
{
	background-color: #cf6969;
}

ol > li:hover > a
{
	color: #451717;
}

#main_container
{
	background-color: #292929;
	width: 70%;
	height: 500px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	color: #c4c2c2;
	-webkit-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	-moz-box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
	box-shadow: 0px 0px 51px 2px rgba(41, 41, 41, 1);
}

#user_menu
{
	width: 50px;
	height: 40px;
	float: right;
	text-align: center;
	display: inline-block;
	margin-top: 0px;
	
}

/* http://caniuse.com/#search=variables */
:root {
  --avatar-size: 40px
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #8d6e63;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  
}

.initials {
  font-size: calc(var(--avatar-size) / 2);
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4.5); 
 
}

.header
{
	font-size: 40px;
	color: #c4c2c2;
	letter-spacing: 3px;
	margin-bottom: 20px;
	
}

.add_form_box
{
	width: 150px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	display: inline-block;
	float: right;
}

.add_form_box:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #c34f4f;
	
	color: #222222;
}



.box_des
{
	font-size: 25px;
	color: #c4c2c2;
	display: inline-block;
	margin-top: 14px;
}

.form_option
{
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 50px;
	padding-left: 30px;
}

.control-group
{
	margin-top: 20px;
	padding-left: 50px;
}

.control 
{
    font-family: 'Lato', sans-serif;
    display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 5px;
	margin-top: 10px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 20px;
	color: #c4c2c2;
}
            .control input {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
        .control_indicator {
            position: absolute;
            top: 6px;
            left: 0;
            height: 20px;
            width: 19px;
            background: #e6e6e6;
            border: 0px solid #000000;
            border-radius: undefinedpx;
        }
        .control:hover input ~ .control_indicator,
        .control input:focus ~ .control_indicator {
            background: #cccccc;
        }
        
        .control input:checked ~ .control_indicator {
            background: #c34f4f;
        }
        .control:hover input:not([disabled]):checked ~ .control_indicator,
        .control input:checked:focus ~ .control_indicator {
            background: #0e6647d;
        }
        .control input:disabled ~ .control_indicator {
            background: #e6e6e6;
            opacity: 2;
            pointer-events: none;
        }
        .control_indicator:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
        }
        .control input:checked ~ .control_indicator:after {
            display: block;
        }
        .control-radio .control_indicator {
            border-radius: 35%;
        }
        
        .control-radio .control_indicator:after {
            left: 7px;
            top: 8px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background: #ffffff;
            transition: background 250ms;
        }
        .control-radio input:disabled ~ .control_indicator:after {
            background: #7b7b7b;
        }.control-radio .control_indicator::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 4.5rem;
            height: 4.5rem;
            margin-left: -1.3rem;
            margin-top: -1.3rem;
            background: #c34f4f;
            border-radius: 3rem;
            opacity: 0.6;
            z-index: 99999;
            transform: scale(0);
        }
        @keyframes s-ripple {
            0% {
                opacity: 0;
                transform: scale(0);
            }
            20% {
                transform: scale(1);
            }
            100% {
                opacity: 0.01;
                transform: scale(1);
            }
        }
        @keyframes s-ripple-dup {
           0% {
               transform: scale(0);
            }
           30% {
                transform: scale(1);
            }
            60% {
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(1);
            }
        }
        .control-radio input + .control_indicator::before {
            animation: s-ripple 250ms ease-out;
        }
        .control-radio input:checked + .control_indicator::before {
            animation-name: s-ripple-dup;
        }
		
.coment_form_box
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	float: left;
}
.comment_form_option
{
	display: block;
	margin-top: 10px;
	width: 300px;
	height: 100px;
	padding-left: 30px;
}